<%= form_with url: {action: "limit"} do |f| %>
  <div class="field is-grouped line-spacing-bottom limit-button-spacing">
    <div class="control">
      <% [5, 10, 20, 50, 100].each do |value| %>
        <%= f.button value, type: 'submit', name: "limit", value: value, id: "button_limit_#{value}", class: 'button' + active_limit(value, @plimit) %>
      <% end %>
    </div>
  </div>
  <div class="field is-grouped line-spacing-bottom limit-button-spacing">
    <div class="control">
      <% { 'Week' => 1.week.ago, 'Fortnight' => 2.weeks.ago, 'Month' => 1.month.ago }.each do |key, value| %>
        <%= f.button key, type: 'submit', name: "date", value: value, id: "button_#{key}", class: 'button' + active_limit(value.to_date, @plimit) %>
      <% end %>
    </div>
  </div>
<% end %>
