/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bulma";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  font-family: 'Proza Libre', sans-serif;
}

#container {
  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    margin: 0 auto;
  }
}

#page-content {
  h1 {
    margin: 2rem 0;
  }
  padding: 1em;
  @media screen and (min-width: $tablet) {
    padding: 0.5em;
  }
}

nav i {
  margin-right: 0.5em;
}

.line-spacing-top {
  margin-top: 2em;
}

.line-spacing-bottom {
  margin-bottom: 2em;
}

.icon-padding {
  padding-left: 10px;
}

p {
  margin-bottom: 1rem;
}

.icon {
  margin-right: 0.5rem;
}