// Place all the styles related to the category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subcategory input {
  width: 132px;
}

.category input {
  width: 200px;

  ::placeholder {
    opacity: 1;
    color: dimgrey;
  }
}

.js-edit-subcategory {
  display: none !important;

  &.active {
    display: block !important;
  }
}