// Place all the styles related to the Purchases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bulma";

.card {
  @media screen and (min-width: $tablet) {
    max-width: 60% !important;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 600px) {
  .mobile-table-equiv {
    display: none;
  }

  .mobile-table-equiv-element {
    display: none;
  }
}

.mobile-table-equiv {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $grey-lighter;
  justify-content: space-between;
  padding: 0.5em;

  &:last-child {
    border-bottom: 1px solid $grey-lighter;
  }

  &:nth-child(even) {
    background-color: $white-bis;
  }
}

.mobile-table-equiv-element {
  display: flex;
  justify-content: space-between;
}

.purchase-header {
  display: flex;
}

.purchase-header-titles {
  padding-top: 1em;
}

.limit-button-spacing {
  padding-left: 5em;
}

.dark-date {
  background-color: $grey-darker !important;
  color: $white-ter !important;
}

.date-display {
  display: flex !important;
  flex-direction: row;
}

.header-centered {
  text-align: center;
}